body {
    margin: 0;
    font-family: Arial;
    background: #12121c;
    color: white;
}

.app {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
}

.character {
    width: 180px;
    border-radius: 20px;
}

.timer {
    background: #222;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

#time {
    font-size: 48px;
    margin: 10px 0;
}

button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.settings, .stats, .history {
    margin-top: 20px;
    background: #1c1c2b;
    padding: 15px;
    border-radius: 10px;
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

#history div {
    background: #2a2a40;
    margin: 5px 0;
    padding: 8px;
    border-radius: 8px;
}
